################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out
/.vs
/.vscode

build/
build/**

/.DS_Store

.vs/
.vs/**
